<div fxLayout="column" fxLayoutAlign="space-around center">
  <div class="container">
    <div class="header-class div-vertical-spacing ">Shorti-fy</div>
    <div class="description div-vertical-spacing ">
      <div class="description">It's more than just shorter links..</div>
      <div class="detail">Build and Promote your brand by sharing your brand's shortened link on Social Media</div>
    </div>
    <div class="div-vertical-spacing " fxLayoutAlign="space-around center">
      <button class="button-style" (click)="getStarted()">Get Started</button>
    </div>
    <div class="div-vertical-spacing">
      <div *ngIf="show" class="div-vertical-spacing div-side-spacing form-style" fxLayout="row" fxLayoutAlign="space-around center">
        <mat-form-field class="link-form-field" appearance="outline">
          <input matInput class="link-input" placeholder="Shorten a link here...">
        </mat-form-field>
        <button class="link-button button-style" mat-stroked-button>Shorten It</button>
      </div>
    </div>
    
  </div>
</div>
